html,body{
margin: 0;
padding: 0;
font-family: 微软雅黑;
}


.nav:after{
     content: "";
     display: block;
     clear: both;
}

.nav{
    width:100%;
    background-color: white;
}

.nav>ul{
    margin:  0 1rem;
    padding:0;
    float: left;
}

.nav img{
    float: left;
    margin: .5rem 0;
}



.nav ul li{
   display: inline-block;  
}

.nav>ul>li+li{
   border-left: 1px solid gray;
   margin-left: -.4rem;
}

.select{
   padding: 1rem .3rem;
   color:white;
   background-color: blue;
}

.nav>ul a{
   text-decoration: none;
   color:gray;
   padding: 1rem 1rem;
   
   line-height: 130%;
}

.user{
    float: right;
}

.user::after{
   display: block;
   content: "";
   clear: both;
}

.user a{
   background-image: url("../img/school_logo.png");
   display: block;
   padding: 1rem;
   border-radius: 1rem;
   margin: 1rem 1.5rem .5rem .5rem;
}

.user ul{
    padding:0;
    margin: 0;
}


.bar{
    background-image: url("../img/IMG_0676.JPG");
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}


.left-bar{
    float: left;
}

.title{
   width:100%;
   margin:3rem 0 0 3rem;
   border: 1px solid transparent;
}
.title h1{
   color: white;
   font-weight: 600;
}

.title span{
    color: gray;
}


.right_bar{
    float: right;
    color: grey;
    margin:2rem 2rem 0 0;
}

.right_bar span{
    display: block;
   line-height: 200%;
   border-bottom: 3px solid grey;
   padding-bottom:.5rem; 
   margin-bottom:1.5rem; 
   font-weight: bold;
}

.right_bar ul {
    margin: 0;
    padding: 0;
}

.right_bar li{
    list-style: none;
}

.right_bar a{
    font-weight: bold;
    padding:.5rem 0 .5rem;
    float: right;
    text-decoration: none;
    color: grey;
}
 

.light{
    margin-top:26rem;
    margin-left: 3rem; 
    height: 3rem;
}

.light span:nth-child(1){
    color: white
}

.light span+span{
    color: gray;
}

.blog-title{
    width: 100%;
}

.blog-title-content{
   width: 95%;
   margin: auto;
}

.blog-title-content h2,.sort{
    font-weight: 400;
    display: inline-block;
}

.blog-title-content h2{
    margin: 1.4rem 0;
}

.sort{
    float: right;
    margin: 1rem 0;
}


.sort h4{
    color: grey;
}
.sort h4,.blog-title-buttn{
    display: inline-block;
    margin-left:2.5rem;
}


.sort input{
        background-color: white;
        border: 3px solid blue;
        border-radius: 1rem;
        margin-left: .5rem;
       padding:0 7px;
    }

.blog{
    width: 100%;
    background-color:grey;
  
}

.blog-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin:auto;
}

.blog-item{
    display: inline-block;
    width: 30%;
    height: 20rem;
    background-color:white;
    margin:2em 0 0 2rem;
    border-radius: 10px;
     vertical-align: top;  /*！！*/ 
    box-shadow: 1.5px 1.5px 5px black;
    
}

.blog-item-content{
    padding: 1em;
    height: 90%
}
.item-light{
    height: 3rem;
}

.item-light span:nth-child(1){
    color: white
}

.item-light span+span{
    color: gray;
}

.blog input{
     background-color: white;
     border: 3px solid blue;
     border-radius: 1rem;
     margin-left: .5rem;
     padding:0 7px;
     float: right;
}

.blog-item-content h2{
    color: gray;
    font-weight: 400;
    line-height: 30px
}